* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $black-color;
  color: $white-color;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  padding: 5px 3px;
  border-radius: 7px;
}

button:hover {
  box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.1);
}

button.darken:hover {
  box-shadow: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.faded {
  color: $text-faded-color;
}

.app-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;

  &__logo {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: darken($white-color, 5);
  }

  &__icon {
    margin-right: 2px;
  }
}

.header-links {
  display: flex;

  &__link {
    margin: 0 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    color: darken($white-color, 20);
  }
}

.page-footer {
  border-top: 1px solid darken($white-color, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-weight: 200;

  &__back-to-home {
    display: flex;
    align-items: flex-end;
  }
}

.requirement-icon {
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
  min-width: 50px;
  min-height: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.full-image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200000;

  &__image {
    max-height: 90vh;
  }
}

.fetching-error,
.loading-page-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    font-size: 100px;
  }

  &__text {
    font-size: 2rem;
    font-weight: 300;
  }
}

.loading-page-component {
  &__text {
    font-size: 1.5rem;
  }
}
