.portfolio-page {
  & section {
    min-height: 100vh;
  }
}

.welcome-section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);

  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(4, 4, 4, 1) 25%,
    rgba(8, 8, 8, 1) 50%,
    rgba(12, 12, 12, 1) 75%,
    rgba(16, 16, 16, 1) 100%
  );

  &__typing {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 4.5rem;
    font-weight: 500;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 60px;

    & > div {
      grid-column: 1/2;
    }

    & h1 {
      font-size: 4.5rem;
      margin-bottom: 1rem;
      flex-grow: 1;
    }
  }

  &__description {
    font-size: 1.1rem;
    font-weight: 200;
    max-width: 500px;
  }
}
